<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.nz.net/thymeleaf/layout"
      layout:decorator="layout">
<head>
<meta charset="utf-8">
<title>GestionPharmacie</title>
 <link rel="stylesheet" type="text/css"
 href="../statsic/css/bootstrap.min.css"
 th:href="@{css/bootstrap.min.css}"
 />
</head>
<body>
 <div layout:fragment="content">
     
    <div class="col-md-6">
     <div class="panel panel-primary">
      <div class="panel-heading">Ajouter une famille</div>
       <div class="panel-body">
       
        <form th:action="@{/catalogue/saveFamille}" method="post">
         <div class="form-group">
          <label class="control-label">Nom famille:</label>
          <input class="form-control" type="text" name="libelle"
          th:value="${famille.libelle}"/>
         </div>
         <span class="red" th:errors="${famille.libelle}"></span>
         <div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
         </div>
        </form>
       
       </div>
     </div>
     
     
     
     <p>
       <a th:href="@{rechercherFamille(motCle='')}">Retour</a>
     </p>
     
    </div>    
 </div>
</body>
</html>