<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.nz.net/thymeleaf/layout"
      layout:decorator="layout">
<head>
<meta charset="utf-8">
<title>GestionPharmacie</title>
 <link rel="stylesheet" type="text/css"
 href="../statsic/css/bootstrap.min.css"
 th:href="@{css/bootstrap.min.css}"
 />
</head>
<body>
 <div layout:fragment="content">
     
    <div class="col-md-6">
     <div class="panel panel-primary">
      <div class="panel-heading">Ajouter un médicament</div>
       <div class="panel-body">
       
        <form th:action="@{/commandes/saveMedicament}" method="post">
         <div>
          <label>Nom médicament:</label>
          <input type="text" name="libelle"
          th:value="${medicament.libelle}"/>
         </div>
         <div>
          <label>Sous famille:</label>
          <select id="libSousFamille" name="libSousFamille">
           <option th:each="sf:${listSousFamilles}" th:text="${sf.libelle}" th:value="${sf.libelle}"></option>
          </select>
        </div>
         <div>
          <label>prix Achat:</label>
          <input type="text" name="prixAchat"
          th:value="${medicament.prixAchat}"/>
        </div>
         <div>
          <label>prix Vente:</label>
          <input type="text" name="prixVente"
          th:value="${medicament.prixVente}"/>
         </div>
         <div>
          <label>Notice:</label>
          <br/>
          <textarea rows="2" cols="40" name="notice"
          th:value="${medicament.notice}"></textarea>
         </div>
         <div>
          <label>date Expiration:</label>
          <input type="text" name="dateExpiration"
          th:value="${medicament.dateExpiration}"/>
         </div>
         <div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
         </div>
        </form>
       
       </div>
     </div>
     
     
     
     <p>
       <a th:href="@{/commandes/rechercherMedicament(motCle='')}">Retour</a>
     </p>
     
    </div>    
 </div>
</body>
</html>